<h1>All Characters:</h1>

<p>@Html.ActionLink("Add new character", "Create")</p>

<ol>
@foreach (Character character in Model)
{
    <ul>
        <li>@character.FirstName @character.LastName</li>
    </ul>
    @* <a href="/Characters/Details/@(character.CharacterId)"><p>View Details</p></a> *@
    <br>
    <p>@Html.ActionLink("Character Details", "Details", new { id = character.CharacterId })</p>
}
</ol>